# compiled stuff
examples
examples-blitz
examples-interactive
tests_v3
example-tuples
*.o

# cmake stuff
build
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# output of example scripts and unit tests
my_graph_*.png
unittest-output/
